* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f4f0;
    color: #333;
}

header {
    background-color: #e67e22;
    color: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#lista-receitas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}


.card-receita {
    background: white;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.card-receita:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card-receita h3 {
    color: #d35400;
    margin-bottom: 10px;
}

.btn-ver-mais {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 600;
}

.btn-ver-mais:hover {
    background-color: #d35400;
}

.detalhes-preparo {
    display: none;
    margin-top: 15px;
}

.card-receita.aberto .detalhes-preparo{
    display: block;
}